{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      {% if page.url == "/" %}
      <nav id="site-nav" class="academic-nav" aria-label="Primary navigation">
        <a class="academic-nav-home" href="{{ base_path }}/">Homepage</a>
        <div class="academic-nav-links">
          {% for link in site.data.navigation.main %}
            <a href="{{ base_path }}{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </nav>
      {% else %}
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}

        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>
